CHEESE_CUSTOMER=test
CHEESE_PASSWORD=XXX
LICENSE_FILE=/data/on-prem/cheese_license_file.json
CONFIG_FILE=/data/on-prem/cheese_config_file.yaml
ASSETS_FOLDER=/home/user/cheese-on-prem-assets
IP=XXX.XXX.XXX.XXX
DB_PORT=9001
API_PORT=9002
UI_PORT=9003